{{#each results2.body.items}}
    <div>
        <h2>{{this.name}}</h2>
        {{!-- <p>{{this.id}}</p> --}}
        <img src="{{this.images.1.url}}" alt="{{this.name}}">
        {{!-- <button ><a href="/albums/{{this.id}}">See Albums</a></button> --}}
    </div>
{{/each}}