<h1>Artist Search</h1>



{{#each artistas}}
    <div>
        <h2>{{this.name}}</h2>
        <p>{{this.id}}</p>
        <img src="{{this.images.0.url}}" alt="{{this.name}}">
        <button ><a href="/albums/{{this.id}}">See Albums</a></button>
    </div>
{{/each}}
